#####=== Java ===#####

 *.class

 # Package Files #
 *.jar
 *.war

 #####=== Gradle ===#####

 .gradle
 build/


 # Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
 !gradle-wrapper.jar

 #####=== Auklet ===#####
 *.iml
 *.ipr
 *.iws
 .idea/
 out/
